In [2]:
import numpy as np # linear algebra
import pandas as pd #data processing
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
df = pd.read_csv('Social_Network_Ads.csv')

In [4]:
df=df.iloc[:,2:]
df.sample(5)

     Age  EstimatedSalary  Purchased
164   33            69000          0
276   38            71000          0
196   30            79000          0
384   57            33000          1
165   18            86000          0

Train test not needed but it is good to have this.

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(df.drop('Purchased', axis=1),
                                                    df['Purchased'],test_size=0.3, random_state=0)
X_train.shape, X_test.shape

((280, 2), (120, 2))

Standard Scaler :

In [6]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

#Fit the Scaler to the train set, it will learn the parameters
scaler.fit(X_train)

#Transfrom train adn test sets.
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)