In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('customer.csv')

In [3]:
df.head(5)

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [4]:
df = df.iloc[:,2:]

In [6]:
df.head(2)

    review education purchased
0  Average    School        No
1     Poor        UG        No